
.CartImg {
  max-width: 250px;
}

.CartFlex {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px;
  border: black 1px solid;
}
@media (max-width: 550px) {
  .CartFlex {
    margin-top: 50px;
    margin-bottom: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: none;
  }
}


.TitlePriceFlex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.CartDetailFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
}

@media (max-width: 550px) {
    .CartDetailFlex {
        gap: 20px;
        padding: 0;
        align-items: flex-start;
        max-width: 250px;
    }
  }
  

.RemoveItem {
  cursor: pointer;
}

.QuantityFlex {
  display: flex;
  gap: 100px;
  align-content: center;
}

