hr {
  color: white;
}
.NavBar a {
  text-decoration: none;
  color: rgb(235, 235, 235);
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;

  border-radius: 50px;
  padding: 3px 9px 3px 12px;
  transition: 0.3s;
}

@media (max-width: 990px) {
  .NavBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.NavBar a:hover {
  color: rgb(32, 32, 32);
  background-color: rgb(235, 235, 235);
}

.CartSocialFlex {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 100px;
}

@media (max-width: 990px) {
  .CartSocialFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
