.NavBarToggle {
  border: none;
}

.HrHeader {
  color: white;
}

.NavBar a {
  text-decoration: none;
  color: rgb(163, 163, 163);
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;

  border-radius: 10px;
  padding: 3px 9px 3px 12px;
  transition: 0.3s;
}

@media (max-width: 990px) {
  .NavBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.NavBar .hvr-underline-from-left:hover {
  color: rgb(236, 236, 236);
}

.CartSocialFlex {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 300px;
}

@media (max-width: 1230px) {
  .CartSocialFlex {
    margin-left: 100px;
  }
}

@media (max-width: 1150px) {
  .CartSocialFlex {
    margin-left: 100px;
  }
}

@media (max-width: 990px) {
  .CartSocialFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-left: 0px;
  }
}

.CartSocialResp {
  margin-right: 100px;
}

@media (max-width: 1400px) {
  .CartSocialResp {
    margin-right: 50px;
  }
}

@media (max-width: 990px) {
  .CartSocialResp {
    display: none;
  }
}

.NavBar {
  display: flex;
  align-items: center;
  align-content: center;
}
.CartWidgetNone {
  display: none;
  text-decoration: none;
}

@media (max-width: 990px) {
  .CartWidgetNone {
    display: block;
    margin-left: -90px;
  }
}

.NavBarCollapse a {
  text-decoration: none;
}
