.TopHeader {
  background-color: #ececec;
    color: rgb(27, 27, 27);
    text-align: center;
    letter-spacing: 1px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    height: 40px;
  }
  
  .TopHeader p {
    font-size: 13px;
    font-weight: 700;
  }
  
  .TopHeader p span {
    margin: 0 10px;
  }
  
  @media (max-width: 1000px) {
    .TopHeader{
      display: none   ;
    }
    }